<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codesimplifiedtutorials.mixsensors">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/sensor"
        android:label="All in one Sensors"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.codesimplifiedtutorials.mixsensors.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.codesimplifiedtutorials.mixsensors.Light" />
        <activity android:name="com.codesimplifiedtutorials.mixsensors.Proximity" />
        <activity android:name="com.codesimplifiedtutorials.mixsensors.Accelerometer" />
        <activity android:name="com.codesimplifiedtutorials.mixsensors.Gravity" />
        <activity android:name="com.codesimplifiedtutorials.mixsensors.ListOfSensors" />
        <activity android:name="com.codesimplifiedtutorials.mixsensors.Gyro" />
    </application>

</manifest>
